# --- Grundlegende Langflow-Abhängigkeiten ---
langflow

# --- NVIDIA-Komponenten-Support ---
langchain-nvidia-ai-endpoints

aiohttp
astra-db-python
beautifulsoup4
cassio
chromadb
faiss-cpu
google-api-python-client
gspread
httpx
jinja2
jsonlines
keyring
langchain
langchain-community
langchain-datastax
langchain-openai
langchainhub
lxml
numpy
oauthlib
openai
openai-whisper
openpyxl
pandas
pdfplumber
pinecone-client
pydantic
pydub
PyPDF2
python-docx
python-dotenv
pytesseract
qdrant-client
requests
rich
setuptools
tabulate
tenacity
tiktoken
typing-extensions
tqdm
weaviate-client
wheel
xlrd
langchain-openai

